name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    name: macOS
    runs-on: macos-14
    strategy:
      matrix:
        config: ['debug', 'release']
        xcode: ['14.3.1', '15.4.0']
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Skip macro validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Run tests
        run: make test-swift
      - name: Build platforms ${{ matrix.config }}
        run: CONFIG=${{ matrix.config }} make build-all-platforms
      - name: Build for library evolution
        run: make build-for-library-evolution

  # integration:
  #   name: Integration (UI Tests)
  #   runs-on: macos-13
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Select Xcode 14.3.1
  #       run: sudo xcode-select -s /Applications/Xcode_14.3.1.app
  #     - name: Run tests
  #       run: make test-integration

  ubuntu:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: make test-swift

  # wasm:
  #   name: Wasm
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: swiftwasm/swiftwasm-action@v5.9
  #       with:
  #         shell-action: carton test

  # windows:
  #   name: Windows
  #   runs-on: windows-latest
  #   steps:
  #     - uses: compnerd/gha-setup-swift@main
  #       with:
  #         branch: swift-5.8-release
  #         tag: 5.8-RELEASE

  #     - uses: actions/checkout@v4
  #     - name: Run tests
  #       run: swift test
  #     - name: Run tests (release)
  #       run: swift test -c release
