name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    name: macOS 13 (Xcode 14.3.1)
    runs-on: macos-13
    strategy:
      matrix:
        config: ['debug', 'release']
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3.1
        run: sudo xcode-select -s /Applications/Xcode_14.3.1.app
      - name: Run tests
        run: make test-swift
      - name: Build platforms ${{ matrix.config }}
        run: CONFIG=${{ matrix.config }} make build-all-platforms
      - name: Build for library evolution
        run: make build-for-library-evolution

  # xcode-13:
  #   name: macOS 12 (Xcode 13.4.1)
  #   runs-on: macos-12
  #   strategy:
  #     matrix:
  #       config: ['debug', 'release']
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Select Xcode 13.4.1
  #       run: sudo xcode-select -s /Applications/Xcode_13.4.1.app
  #     - name: Run tests
  #       run: make test-swift
  #     - name: Build platforms ${{ matrix.config }}
  #       run: CONFIG=${{ matrix.config }} make build-all-platforms
  #     - name: Build for library evolution
  #       run: make build-for-library-evolution

  integration:
    name: Integration (UI Tests)
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3
        run: sudo xcode-select -s /Applications/Xcode_14.3.app
      - name: Run tests
        run: make test-integration

  ubuntu:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run tests
        run: make test-swift

  wasm:
    name: Wasm
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { toolchain: wasm-5.7.1-RELEASE }
    steps:
      - uses: actions/checkout@v3
      - run: echo "${{ matrix.toolchain }}" > .swift-version
      - uses: swiftwasm/swiftwasm-action@v5.7
        with:
          shell-action: carton test --environment node

  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.8-release
          tag: 5.8-RELEASE

      - uses: actions/checkout@v3
      - name: Run tests
        run: swift test
      - name: Run tests (release)
        run: swift test -c release

  static-stdlib:
    strategy:
      matrix:
        image: ['swift:5.7-focal', 'swift:5.8-focal']
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
      - name: Build for static-stdlib (debug)
        run: swift build -c debug --static-swift-stdlib
      - name: Build for static-stdlib (release)
        run: swift build -c release --static-swift-stdlib
