name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-15:
    name: macOS 15
    runs-on: macos-15
    strategy:
      matrix:
        config: ['debug', 'release']
        xcode: ['16.0']
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Skip macro validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Run tests
        run: make test-swift
      - name: Build platforms ${{ matrix.config }}
        run: CONFIG=${{ matrix.config }} make build-all-platforms
      - name: Build for library evolution
        run: make build-for-library-evolution

  macos-14:
    name: macOS 14
    runs-on: macos-14
    strategy:
      matrix:
        config: ['debug', 'release']
        xcode: ['15.4']
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Skip macro validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Run tests
        run: make test-swift
      - name: Build platforms ${{ matrix.config }}
        run: CONFIG=${{ matrix.config }} make build-all-platforms
      - name: Build for library evolution
        run: make build-for-library-evolution

  ubuntu:
    strategy:
      matrix:
        swift:
          - '5.10'
          - '6.0'
    name: Ubuntu (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift }}
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: swift test --parallel
      - name: Run tests (release)
        run: swift test -c release --parallel

  # wasm:
  #   name: Wasm
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: bytecodealliance/actions/wasmtime/setup@v1
  #     - uses: swiftwasm/setup-swiftwasm@v1
  #       with:
  #         swift-version: "wasm-5.9.2-RELEASE"
  #     - name: Build tests
  #       run: swift build --triple wasm32-unknown-wasi --build-tests
  #     - name: Run tests
  #       run: wasmtime .build/debug/swift-dependenciesPackageTests.wasm

  # windows:
  #   name: Windows
  #   runs-on: windows-latest
  #   steps:
  #     - uses: compnerd/gha-setup-swift@main
  #       with:
  #         branch: swift-5.10-release
  #         tag: 5.10-RELEASE
  #
  #     - uses: actions/checkout@v4
  #     - name: Run tests
  #       run: swift test
  #     - name: Run tests (release)
  #       run: swift test -c release

  check-macro-compatibility:
    name: Check Macro Compatibility
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Swift Macro Compatibility Check
        uses: Matejkob/swift-macro-compatibility-check@v1
        with:
          run-tests: false
          major-versions-only: true
